{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Detalhes do Carro {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-2 p-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg border-1 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center mycardheader">
                        <h2 class="font-weight-dark my-8 text-center">Detalhes de {{ object.nome_do_carro }}</h2>
                    </div>
                    <div class="card-body mybody">
                        <b class="myindice"><li>Nome:<b class="mydetail"> {{ object.nome_do_carro }}</li></b><br>
                        <li>Marca:<b class="mydetail"> {{ object.marcas_de_carros }}</li></b><br>
                        <li>Valor:<b class="myvalor_do_carro"> {{ object.valor_do_carro }}</li></b><br>
                        <li>Motor:<b class="mydetail"> {{ object.modelos_de_carros }}</li></b><br>
                        <li>Foto: <img src="{{ object.image_url|default_if_none:'#' }}" style="max-width:190px" alt="" 
                        title="Foto de {{ user.username }}" crossorigin="anonymous"></li></b><br>
                        <center><a href="{% url 'lista' %}" class="btn btn-primary">Voltar</a></center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}