{% extends 'base.html' %}

{% load humanize %}

{% block title %} Confirmação de Delete {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<h3>Tem certeza que deseja deletar o carro {{ object.nome_do_carro }}?</h3><br>
    <form method="post" action=".">
        {% csrf_token %}
        <button type="submit" title="Deletar"class="btn btn-danger" onclick="return confirm('Tem certeza que deseja deletar?')">Delete</button>
        <a href="{% url 'lista' %}" class="btn btn-primary" title="Lista">Para voltar a lista</a>

    </form>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}