{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %} {{ titulo }} {{ object.nome_do_carro }} {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% if user.is_authenticated %}

<center><h2 class="mytext_form"><u>{{ titulo }} {{ object.nome_do_carro }}</u></h2></center>
    <form method="POST" action="." enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <b class="mytext_form">{{ form|crispy }}</b><br>
        <center><input type="submit" value="Salvar" class="btn btn-success mx-4 mybtn">
        <a href="{% url 'lista' %}" class="btn btn-primary mx-4 mybtn">Voltar</a></center>
    </form>
<br>
    {% else %}
    <h2>Você não está autorizado a acessar essa pagina, 
    <a href="{% url 'login' %}">clique aqui</a>para ser redirecionado a pagina de login</h2>
    {% endif %}

{% endblock %}