{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% load bootstrap %}

{% block title %} Detalhes do Carro {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><u><h3>Detalhes do carro {{ object.nome_do_carro }}</h3></u></center><br>

<b><li>Nome: {{ object.nome_do_carro }}</li><br>
<li>Marca: {{ object.marcas_de_carros }}</li><br>
<li>Valor: {{ object.valor_do_carro }}</li><br>
<li>Modelo: {{ object.modelos_de_carros }}</li><br>
<li>Foto: <img src="{{ object.image_url|default_if_none:'#' }}" style="max-width:150px" alt="Foto de {{ user.username }}" 
title="Foto de {{ user.username }}" crossorigin="anonymous"></li></b>
<br>
<center><a href="{% url 'lista' %}" class="btn btn-primary btm-sm">Para voltar para a lista</a></center>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br><br><br><br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}