{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Confirmação de Delete {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<h3><center><font color="white">Tem certeza que deseja deletar o carro {{ object.nome_do_carro }} ?</h3></center></font><br>
    <form method="post" action=".">
        {% csrf_token %}
        <center><button type="submit" title="Deletar"class="btn btn-danger mx-4" 
            onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</button>
        <a href="{% url 'lista' %}" class="btn btn-primary mx-4" title="Lista">Voltar</a></center>
    </form>

    <br><br><br><br>
    <center><img src="{{ object.image_url|default_if_none:'#' }}" style="max-width:310px" alt="" 
    title="Foto de {{ user.username }}" crossorigin="anonymous"></center>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br><br><br><br><br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}