{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Lista de Carros {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% if user.is_authenticated %}

<br><nav class="navbar navbar-dark mynav">
    <ul class="nav justify-content-start">
        <a href="{% url 'perfil' %}" class="btn btn-primary btn-sm mybtn" title="Perfil">Perfil</a>
    </ul>

    <ul class="nav justify-content-center">
        <a href="{% url 'password_change' %}" class="btn btn-warning btn-sm mybtn" title="Trocar Senha">Trocar Senha</a>
    </ul>

    <ul class="nav justify-content-end">
        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm mybtn" onclick="return confirm('Tem certeza que deseja sair?')">Sair</a>
    </ul>
</nav>

<center><br><u class="my_u"><h2 class="my_h2">Bem vindo {{ user.username }}</h2></u><br>
    <form method="GET" action=".">
        <div id="divBusca">
            <input type="search" id="txtBusca" name="nome_do_carro" value="{{ request.GET.nome_do_carro }}" 
            autocomplete="off" placeholder="Buscar por carro">
            <button type="submit" class="mx-1 mybtn" id="btnBusca"><i class="fa fa-search" aria-hidden="true"></i></button>
            <a href="{% url 'lista' %}" class="mysearchclear">Limpar</a>
        </div>
    </form>
</center>
<br>
<table class="table">
    <thead class="mythead">
        <tr>
            <th>Nome do Carro</th>
            <th>Detalhes do Carro</th>
            <th>Editar Carro</th>
            <th>Deletar Carro</th>
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
            {% for carro in object_list %}
            <td>{{ carro.nome_do_carro }}</td>
            <td><a href="{% url 'detalhar' carro.pk %}" title="Detalhes" class="btn btn-success btn-sm mybtn">
                <i class="fa fa-eye icon-eye" aria-hidden="true"></i></td></a>
            <td><a href="{% url 'editar' carro.pk %}" title="Editar" class="btn btn-warning btn-sm mybtn">
                <i class="fa fa-edit icon-eye" aria-hidden="true"></i></a></td>
            <td><a href="{% url 'deletar' carro.pk %}" title="Deletar" class="btn btn-danger btn-sm mybtn"
                data-toggle="modal" data-target="#exampleModal{{ carro.pk }}">
                <i class="fa fa-trash-o icon-eye" aria-hidden="true"></i></a>

                    <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ carro.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header mydiv">
                                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja deletar o carro {{ carro.nome_do_carro }}?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span title="Fechar" aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body mydiv">
                                <form method="post" action="{% url 'deletar' carro.pk %}">
                                    {% csrf_token %}
                                    <img src="{{ carro.image_url|default_if_none:'#' }}" style="max-width:290px" alt="" 
                                        title="Foto de {{ user.username }}" crossorigin="anonymous">
                            </div>
                            <div class="modal-footer mydiv">
                                <button type="submit" title="Deletar" class="btn btn-danger btn-sm mybtn mymodalbutton">Deletar</button>
                                <button type="button" title="Voltar" class="btn btn-primary btn-sm mybtn" data-dismiss="modal">Voltar</button>
                            </div></form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>{% endfor %}
    </tbody>
</table>

<center><a href="{% url 'novo' %}" class="btn btn-primary mybtn">Adicionar Carro</a></center><br>
    
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}

        {% if request.GET.nome_do_carro %}

        <li class="page-item">
            <a class="page-link" href="?page=1&nome_do_carro={{ request.GET.nome_do_carro }}">Primeira</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome_do_carro={{ request.GET.nome_do_carro }}">&laquo;</a>
        </li>
        
        {% else %}

        <li class="page-item">
            <a class="page-link" href="?page=1">Primeira</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
        
        {% endif %}

    {% endif %}

    <li class="page-item">
        <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}

        {% if request.GET.nome_do_carro %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&nome_do_carro={{ request.GET.nome_do_carro }}">&raquo;</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome_do_carro={{ request.GET.nome_do_carro }}">Última</a>
        </li>
        
        {% else %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        </li>
        
        {% endif %}

    {% endif %}
</ul>

{% else %}
<h2>Você não está autorizado a acessar essa pagina, <a href="{% url 'login' %}">clique aqui</a>para ser redirecionado a pagina de login</h2>
{% endif %}

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha,
        <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank" class="btn btn-primary btn-sm mybtn">Linkedin</a> e 
        <a href="https://github.com/Dio30" target="_blank" class="btn btn-dark btn-sm mybtn">GitHub</a></span></center>
    </div>
</footer>
{% endblock %}