{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Lista de Carros {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<br><nav class="navbar navbar-dark mynav">
    <ul class="nav justify-content-start">
        <a href="{% url 'perfil' %}" class="btn btn-primary btn-sm" title="Perfil">Perfil</a>
    </ul>

    <ul class="nav justify-content-center">
        <a href="{% url 'password_change' %}" class="btn btn-info btn-sm mybtn" title="Trocar Senha">Editar Senha</a>
    </ul>

    <ul class="nav justify-content-end">
        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja sair?')">Sair</a>
    </ul>
</nav>

<center><br><u class="my_u"><h2 class="my_h2">Bem vindo {{ user.username }}</h2></u>
<form method="GET" action=".">
    <br><input type="search" name="nome_do_carro" value="{{ request.GET.nome_do_carro }}" class="p-1 border mysearch" 
    autocomplete="off" placeholder="Digite o nome do carro">

    <button type="submit" class="btn btn-success btn-sm mybtn">Buscar</button>

    <a href="{% url 'lista' %}" class="btn btn-info btn-sm mybtn">Limpar</a></center><br>
</form>

<table class="table table-bordered table-dark">
    <thead class="mythead">
        <tr>
            <th>Nome do Carro</th>
            <th>Detalhes do Carro</th>
            <th>Editar Carro</th>
            <th>Deletar Carro</th>
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
    {% for carro in object_list %}
        <td>{{ carro.nome_do_carro }}</td>
        <td><a href="{% url 'detalhar' carro.pk %}" title="Detalhes" class="btn btn-success btn-sm">
            <i class="fa fa-eye icon-eye" aria-hidden="true"></i></td></a>
        <td><a href="{% url 'editar' carro.pk %}" title="Editar" class="btn btn-warning btn-sm">
            <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        <td><a href="{% url 'deletar' carro.pk %}" title="Deletar" class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o icon-trash" aria-hidden="true"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<center><a href="{% url 'novo' %}" class="btn btn-primary">Adicionar Carro</a></center><br>

<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}

        {% if request.GET.nome_do_carro %}

        <li class="page-item"><a class="page-link" href="?page=1&nome={{ request.GET.nome_do_carro }}">Primeira</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{ request.GET.nome_do_carro }}">&laquo;</a></li>
        
        {% else %}

        <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        
        {% endif %}
    
    {% endif %}

    <li class="page-item">
        <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    </li>
    {% if page_obj.has_next %}

        {% if request.GET.nome_do_carro %}

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{ request.GET.nome_do_carro }}">&raquo;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{ request.GET.nome_do_carro }}">Última</a></li>
        
        {% else %}

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
        
        {% endif %}

    {% endif %}
</ul>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha, meu
        <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank">Linkedin</a> e 
        <a href="https://github.com/Dio30" target="_blank">GitHub</a></span></center>
    </div>
</footer>
{% endblock %}