{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% load bootstrap %}

{% block title %} {{ titulo }} {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><font color="#bcb9b9"><h2>{{ titulo }}</h2></font></center><br>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <b><font color="#e4e4e4">{{ form|bootstrap }}</b></font>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'lista' %}" class="btn btn-primary">Voltar</a>
    </form>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}