{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% load humanize %}

{% block title %} {{ titulo }} {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% if user.is_authenticated %}

<center><h2 class="mytext_perfil"><u>{{ titulo }} {{ object.nome_do_carro }}</u></h2></center><br>
    <form method="post" action="." enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <b class="mytext_perfil">{{ form|bootstrap }}</b><br>
        <center><button type="submit" class="btn btn-success mx-4 mybtn">Salvar</button>
        <a href="{% url 'lista' %}" class="btn btn-primary mx-4 mybtn">Voltar</a></center>
    </form>

    {% else %}
    <h2>Você não está autorizado a acessar essa pagina, <a href="{% url 'login' %}">clique aqui</a>para ser redirecionado a pagina de login</h2>
    {% endif %}
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha, 
            <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank" class="btn btn-success btn-sm mybtn">Linkedin</a> e 
            <a href="https://github.com/Dio30" target="_blank" class="btn btn-success btn-sm mybtn">GitHub</a></span></center>
    </div>
</footer>
{% endblock %}