{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Perfil do Usuario {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-1 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-1 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center mycardheader">
                        <h3 class="font-weight-dark my-2 text-center">Perfil de {{ user.username }}</h3>
                    </div>
                    <div class="card-body mybody">

                        <form action="{% url 'perfil' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        
                            <b><p>Usuario:</p>
                            <input type="text" class="form-control" value="{{ user.username }}" name="username" autocomplete="off" required>
                            <br>
                            <p>Email:</p>
                            <input type="email" class="form-control" value="{{ user.email }}" name="email" autocomplete="off" required></b>
                            <br>
                            <center><input type="submit" class="btn btn-success mx-3" value="Salvar">
                            <a href="{% url 'lista' %}" class="btn btn-primary mx-3">Voltar</a></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <b class="mytext_perfil"><li>O preenchimento do email não é obrigatório.</li>
    <br>
    <li>Se quiser somente trocar a sua senha clique em <a href="{% url 'password_change' %}" class="my_a2">alterar senha</a>,
    se esqueceu da senha será <u>obrigatório cadastrar algum email válido aqui</u> e depois 
    <a href="{% url 'password_reset' %}" class="my_a2">clique aqui</a> para enviar o email.</li></b>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha, meu
            <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank">Linkedin</a> e 
            <a href="https://github.com/Dio30" target="_blank">GitHub</a></span></center></span></center>
    </div>
</footer>
{% endblock %}