{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Perfil do Usuario {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% if user.is_authenticated %}

<div class="form-content my-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-1 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center mycardheader">
                        <h3 class="font-weight-dark my-2 text-center">Perfil de {{ user.username }}</h3>
                    </div>
                    <div class="card-body mybody">

                        <form action="{% url 'perfil' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-label-group">
                                <input type="text" id="inputUser" class="form-control"  
                                placeholder="Usuário" autocomplete="off" value="{{ user.username }}" spellcheck="false" name='username' required>
                                <label for="inputUser">Usuário</label>
                            </div>
                            <br>
                            <div class="form-label-group">
                                <input type="email" id="inputUser" class="form-control"  
                                placeholder="Email" autocomplete="off" value="{{ user.email }}" spellcheck="false" name='email'>
                                <label for="inputUser">Email</label>
                            </div>
                            <br>
                            <center><input type="submit" class="btn btn-success mx-3 mybtn" value="Salvar">
                            <a href="{% url 'lista' %}" class="btn btn-primary mx-3 mybtn">Voltar</a></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <b class="mytext_perfil"><li>O preenchimento do email não é obrigatório.</li>
    <br>
    <li>Se quiser somente trocar a sua senha clique em <a href="{% url 'password_change' %}" class="my_a2">alterar senha</a>,
    se esqueceu da senha será <u>obrigatório cadastrar algum email válido aqui</u> e depois 
    <a href="{% url 'password_reset' %}" class="my_a2">clique aqui</a> para enviar o email.</li></b>
    
    {% else %}
    <h2>Você não está autorizado a acessar essa pagina, <a href="{% url 'login' %}">clique aqui   
    </a>para ser redirecionado a pagina de login</h2>
    {% endif %}

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha, 
            <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank" class="btn btn-primary btn-sm mybtn">Linkedin</a> e 
            <a href="https://github.com/Dio30" target="_blank" class="btn btn-dark btn-sm mybtn">GitHub</a></span></center>
    </div>
</footer>
{% endblock %}