{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% crispy form form.helper %}

{% load humanize %}

{% block title %} Alterar Senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<b class="mytext_perfil"><center><li>Se esqueceu a sua senha cadastre algum email válido para a recuperação de senha em 
    <a href="{% url 'perfil' %}">perfil</a>.</li></center></b>

<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                    <div class="card card-dark shadow-lg border-1 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center mycardheader">
                            <h3 class="font-weight-lg my-8 text-center">Alterar Senha</h3>
                        </div>
                        <div class="card-body mybody">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <center><button type="submit" class="btn btn-success mx-3">Salvar</button>
                                <a href="{% url 'lista' %}" class="btn btn-info mx-3 mybtn">Voltar</a></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <center><span class="text">Desenvolvido por Dione Rafael Padilha, 
            <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank" class="btn btn-success btn-sm">Linkedin</a> e 
            <a href="https://github.com/Dio30" target="_blank" class="btn btn-success btn-sm">GitHub</a></span></center>
    </div>
</footer>
{% endblock %}