{% extends 'base.html' %}

{% load bootstrap %}

{% load humanize %}

{% block title %} Alterar Senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<b><font color="white"><center><li>Se esqueceu a sua senha cadastre algum email válido para a recuperação de senha em 
    <a href="{% url 'perfil' %}">perfil</a>.</li></font></center></b>

<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                    <div class="card card-dark shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center mycardheader">
                            <h3 class="font-weight-lg my-4 text-center">Alterar Senha</h3>
                        </div>
                        <div class="card-body mybody">
                            <form method="POST">
                                {% csrf_token %}
                                <b>{{ form|bootstrap }}</b>
                         
                                <br><button type="submit" class="col-md-12 btn btn-success mybtn" id="reset">Atualizar Senha</button><br>
                                <br><a href="{% url 'lista' %}" class="col-md-12 btn btn-info mybtn">Voltar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}