{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %} Alterar Senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% if user.is_authenticated %}

<b class="mytext_form"><center><li>Se esqueceu a sua senha cadastre algum email válido para a recuperação de senha em 
    <a href="{% url 'perfil' %}">perfil</a>.</li></center></b>

<div class="form-content my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                    <div class="card shadow-lg border-1 rounded-lg mt-1">
                        <div class="card-header justify-content-center mycardheader">
                            <h3 class="font-weight-lg my-8 text-center">Alterar senha de {{ user.username }}</h3>
                        </div>
                        <div class="card-body mybody">
                            <form method="POST" action="{% url 'password_change' %}">
                                {% csrf_token %}
                                
                                <div class="form-label-group">
                                    <span class="fa fa-lock"></span>
                                    <input name='old_password' type="password" id="inputPassword" class="form-control"
                                        placeholder="Senha Atual" autocomplete="off" required autofocus>
                                    <label for="inputPassword">Senha Atual</label>
                                    <img src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg" class="myimg" onclick="mostrarSenha()">
                                </div>
                                <font class='mytext'>{{ form.old_password.errors }}</font>

                                <div class="form-label-group">
                                    <span class="fa fa-lock"></span>
                                    <input name='new_password1' type="password" id="inputPassword1" class="form-control"
                                        placeholder="Nova Senha" autocomplete="off" required>
                                    <label for="inputPassword1">Nova Senha</label>
                                    <img src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg" class="myimg1" onclick="Senha()">
                                </div>
                                <font class='mytext'>{{ form.new_password1.errors }}</font>

                            <ul class="text-muted">
                                <li>Sua senha não pode ser muito parecida com o nome do usuário.</li>
                                <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                                <li>Sua senha não pode ser uma senha comumente utilizada. Ex: aaa, bbb, 1234..., etc.</li>
                                <li>Sua senha não pode ser inteiramente numérica, use letras juntamente de números ou 
                                caracteres especiais como @/./+/-/_</li>
                            </ul>
                            <div class="form-label-group">
                                <span class="fa fa-lock"></span>
                                <input name='new_password2' type="password" id="inputPassword2" class="form-control"
                                placeholder="Confirmação da senha" autocomplete="off" required>
                                <label for="inputPassword2">Confirmar Senha</label>
                                <img src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg" class="myimg2" onclick="showSenha()">
                            </div>
                            <font class='mytext'>{{ form.new_password2.errors }}</font>
                            <b class="text-muted2">Informe a mesma senha informada anteriormente, para verificação.</b>
                                <br>
                                <button type="submit" class="btn btn-success my-3 mybtn mymodalbutton">Salvar</button>
                                <a href="{% url 'lista' %}" class="btn btn-info my-3 mybtn mymodalbutton2">Voltar</a>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<h2>Você não está autorizado a acessar essa pagina, <a href="{% url 'login' %}">clique aqui</a>para ser redirecionado a pagina de login</h2>
{% endif %}

{% endblock %}