{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-1 rounded-lg mt-1 mb-1">
                    <div class="card-header justify-content-center mycardheader">
                        <h2 class="font-weight-dark my-8 text-center">Login</h2>
                    </div>
                    <div class="card-body mybody">
                        <form method="POST" action="{% url 'login' %}" autocomplete="off">
                            {% csrf_token %}

                            {% if form.errors %}
                                <p class='mytext'>Usuário ou senha invalidos. Por favor tente de novo.</p>
                            {% endif %}

                              {% if form.non_field_errors %} <!--Erro caso o usuario estiver incorreto-->
                                    {% for error in form.non_field_errors %}
                                        <li class='mytext'>{{ error }}</li>
                                    {% endfor %}
                            {% endif %}
                            <br>
                            <div class="form-label-group">
                                <input name='username' type="text" id="inputUser" class="form-control"  
                                placeholder="Usuário" autocomplete="off" spellcheck="false" autocapitalize="off" required autofocus>
                                <label for="inputUser">Usuário</label>
                            </div>
                            
                            <div class="form-label-group">
                                <input name='password' type="password" id="inputPassword" class="form-control"
                                    placeholder="Senha" autocomplete="off" required>
                                <label for="inputPassword">Senha</label>
                                <img src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg" class="myimg" onclick="mostrarSenha()">
                            </div>
                            {% if form.password.errors %}
                                {% for error in form.password.errors %}
                                    <p class='mytext'>{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            
                            <a href="{% url 'password_reset' %}" class="my_a">Esqueci minha senha</a>
                            <br><br>
                            <center><button type="submit" class="col-md-4 btn btn-primary mybtn">Entrar</button></center>
                            <input type="hidden" name="next" value="{{ next }}" />
                            <hr color="black">
                            
                            <p class="text-center">Não tem uma conta? <a href="{% url 'cadastro' %}" class="my_a">Crie uma conta aqui</a>.</p>
                            <center><a href="https://www.linkedin.com/in/dione-padilha-a99864234/" 
                            target="_blank" class="btn btn-primary mybtn" title="Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> ou 
                            <a href="https://github.com/Dio30" target="_blank" class="btn btn-dark mybtn" title="Github">
                                <i class="fa fa-github" aria-hidden="true"></i></a></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}