{% extends 'base.html' %}

{% load static %}

{% load bootstrap %}

{% load humanize %}

{% block title %} Confirmação de alteração de senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><h3><font color="white"><u>Confirmação de alteração de senha</h3></center></font></u><br>

<center><b><font size=+2 color="white">Foi enviado para o seu email um link para confirmação de alteração de senha.</font></center></b><br>

<center><font color="white"><a href="https://mail.google.com/" 
    class="btn btn-primary btm-sm">Clique aqui para acessar o seu email</a></font></center>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha, 
            <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank" class="btn btn-success btn-sm mybtn">Linkedin</a> e 
            <a href="https://github.com/Dio30" target="_blank" class="btn btn-success btn-sm mybtn">GitHub</a></span></center>
</footer>
{% endblock %}