{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% crispy form form.helper %}

{% load humanize %}

{% block title %} Alteração de senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg border-1 rounded-lg mt-3 mb-3">
                    <div class="card-header justify-content-center mycardheader">
                        <h3 class="font-weight-dark my-8 text-center">Alteração de Senha</h3>
                    </div>
                    <div class="card-body mybody">
                        {% if form.error %}
                            {{ message.error }}
                        {% endif %}
                        <div class="container">
                            <form action="{% url 'password_reset' %}" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" value="Enviar" class="btn btn-primary mx-2 mybtn">
                                <a href="{% url 'login' %}" class="btn btn-dark mx-5 mybtn" style="position:absolute; right: 0;">Voltar</a><br><br>
                                <li>Por favor insira o seu email corretamente, caso não tenha um email cadastrado e 
                                    esqueceu a senha terá que fazer um novo cadastro com um email valido <a href="{% url 'cadastro' %}" 
                                    class="my_a">clicando aqui</a>.</b></li>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <center><span class="text">Desenvolvido por Dione Rafael Padilha, 
        <a href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank" class="btn btn-primary btn-sm mybtn">Linkedin</a> e 
        <a href="https://github.com/Dio30" target="_blank" class="btn btn-dark btn-sm mybtn">GitHub</a></span></center>
    </div>
</footer>
{% endblock %}