{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% crispy form form.helper %}

{% load humanize %}

{% block title %} Nova Senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% if validlink %}
<div class="form-content my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-1 rounded-lg mt-1 mb-1">
                    <div class="card-header justify-content-center mycardheader">
                        <h3 class="font-weight-dark my-10 text-center">Nova Senha</h3>
                    </div>
                    <div class="card-body mybody">
                        <form action="" method="POST" autocomplete="off">
                            {% csrf_token %}

                            <div class="form-label-group">
                                <input name='new_password1' type="password" id="inputPassword1" class="form-control"
                                    placeholder="Nova Senha" autocomplete="off" required>
                                <label for="inputPassword1">Nova Senha</label>
                                <img src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg" class="myimg1" onclick="Senha()">
                            </div>
                            <font class='mytext'>{{ form.new_password1.errors }}</font>
                            <ul class="text-muted">
                                <li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li>
                                <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                                <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                                <li>Sua senha não pode ser inteiramente numérica.</li>
                            </ul>
                            <div class="form-label-group">
                                <input name='new_password2' type="password" id="inputPassword2" class="form-control"
                                placeholder="Confirmação da senha" autocomplete="off" required>
                                <label for="inputPassword2">Confirmar Senha</label>
                                <img src="https://icon-library.com/images/icon-eyes/icon-eyes-12.jpg" class="myimg2" onclick="showSenha()">
                            </div>
                            <font class='mytext'>{{ form.new_password2.errors }}</font>
                            <p class="text-muted2">Informe a mesma senha informada anteriormente, para verificação.</p>
                            <input type="submit" value="Enviar" class="btn btn-primary mybtn">
                            <a href="{% url 'login' %}" class="btn btn-info mx-3 mybtn" style="position:absolute; right: 0;">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}