{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Confirmação de alteração de senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><h3><u>Confirmação de alteração de senha</h3></center></u><br>

<center><b><font size=+2>Foi enviado para o seu email um link para confirmação de alteração de senha.</font></center></b>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}