{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Nova Senha {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<center><u><font color="white"><h3>Nova Senha</h3></u></center><br>

{% if form.errors %}
    {{ message.error }}
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Enviar" class="btn btn-primary"><br><br>
    <center><a href="{% url 'login' %}" class="btn btn-primary btm-sm">Caso não queira trocar a senha clique aqui</a></font></center></form>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}