body{
    background-color: #c5c5c5;
}

.mythead{
    background-color:#1f907d;
    color:#000000;
    text-align: center;
    font-size: 92%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.mytbody{
    background-color:#a7a8aa;
    color:#000000;
    text-align: center;
    font-size: 95%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.icon-eye{
    color: #000;
}

.icon-trash{
    color: rgb(192, 191, 191);
}

.icon-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #eee;
  }