@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body{
    background-color: #c5c5c5;
    background-image: url("/static/imagens/background.jpg");
    background-attachment: fixed;
    background-origin: padding-box;
    background-position: 50% 30%;
}

.mythead{
    background-color:#1f907d;
    color:#000000;
    text-align: center;
    font-size: 90%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.mytbody{
    background-color:#a7a8aa;
    color:#000000;
    text-align: center;
    font-size: 90%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.icon-eye{
    color: rgb(0, 0, 0);
}

.icon-trash{
    color: rgb(192, 191, 191);
}

.mybtn{
    color: #000000;
}

.mynav{
    background-color: #a7a7a7;
}

.mysearch{
    background-color: #ffffff;
    color: #000000;
}

.mycardheader{
    background-color: #969696;
}

.mybody{
    background-color: #8a8a8a;
    font-weight: bold;
}

.footer{
    color: #ffffff;
}