body{
    background-color: #c5c5c5;
}

.mythead{
    background-color:#1f907d;
    color:#000000;
    text-align: center;
    font-size: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mytbody{
    background-color:#dedede;
    color:#090909;
    text-align: center;
    font-size: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}