body{
    background-color: #c5c5c5;
}

.mythead{
    background-color:#1f907d;
    color:#000000;
    text-align: center;
    font-size: 82%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.mytbody{
    background-color:#e5e2e2;
    color:#090909;
    text-align: center;
    font-size: 75%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.icon-eye{
    color: #000;
}

.icon-trash{
    color: rgb(192, 191, 191);
}