{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Cadastrar Novo Usuario {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<h1>Cadastro</h1><br>
    <form method="POST" action="{% url 'cadastro' %}">
        {% csrf_token %}
        {{ register_form|bootstrap }}<br>
        <button type="submit" class="btn btn-primary">Cadastrar</button><br>
        <br><center><a href="{% url 'login' %}" class="btn btn-primary">Se já estiver cadastrado clique aqui</a></center><br><br>
    </form>
        
{% endblock %}