{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block title %} Cadastrar Novo Usuario {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-0 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg border-1 rounded-lg mt-lg-2 mb-lg-2">
                    <div class="card-header justify-content-center mycardheader">
                        <h2 class="font-weight-dark my-10 text-center">Novo Usuário</h2>
                    </div>
                    <div class="card-body mybody">
                        <form method="POST" action="{% url 'cadastro' %}" autocomplete="off">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <center><button type="submit" class="btn btn-primary mx-2">Cadastrar</button>
                            <a href="{% url 'login' %}" class="btn btn-info mybtn mx-2">Voltar</a></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
    </div>
</footer>
{% endblock %}